* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eef4fb;
}

.container {
  max-width: 1340px;
  margin: 100px auto;
  padding: 0 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
}

.justify-content-center {
  justify-content: center;
}

.col-12{
  width: 100%;
  margin: 0 16px;
}

.col-8 {
  width: 66.64%;
  margin: 0 16px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

h2 {
  font-size: 40px;
  color: black;
  text-align: center;
  font-style:oblique;
}

table {
  width: 800px;
  margin: 30px auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  overflow: hidden;
  font-size: 16px;
}

table, table thead th , table tbody tr , table tbody td {
  border: 1px solid gray;
}

table thead th {
  background: #374151;
  color: white;
  padding: 10px;
}

table thead th:first-child {
  border-top-left-radius: 10px;
}

table thead th:last-child {
  border-top-right-radius: 10px;
}

table tbody tr:nth-child(odd) {
  background: #b1b1b1;
}

table tbody tr:nth-child(even) {
  background: #f3f4f6;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

table tbody tr:hover td{
  background: rgb(100, 98, 98);
  color: white;
}

table tbody tr{
  transition: all 0.2s ease-in-out;
}

table tbody td {
  color: #1f2937;
  text-align: center;
  padding: 10px;
}


